APP_NAME=Swiftlinkng
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

WHATSAPP_DB_HOST=127.0.0.1
WHATSAPP_DB_PORT=3306
WHATSAPP_DB_DATABASE=
WHATSAPP_DB_USERNAME=
WHATSAPP_DB_PASSWORD=
WHATSAPP_BOT_URL=
SWIFTLINK_ADMIN_API_SECRET=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=
TELEGRAM_BOT_TOKEN=

MIX_APP_NAME="${APP_NAME}"
MIX_APP_URL="${APP_URL}"
MIX_SESSION_LIFETIME=15
MIX_VUE_APP_TOKEN=
MIX_FIREBASE_API_KEY=
MIX_FIREBASE_APP_ID=
MIX_RAVE_PUBLICKEY=
RAVE_CLIENT_SECRET=
WEBHOOK_CLIENT_SECRET=

MIX_MONNIFYAPIKEY=
MIX_MONNIFYCONTRACTCODE=
MIX_monnify_live=
monnifyBaseUrl=
monnifySecretKey=

vtPassUsername=
vtPassPassword=
vtPassBaseUrl=
smartSMSBaseUrl=
smartSMStoken=
smePlugPrivateKey=
smePlugPublicKey=
simServerBaseUrl=
simServerApiKey=
egmsApiKey=
egmsBaseUrl=
providusBaseUrl=
PROVIDUS_CLIENT_SECRET=
PROVIDUS_CLIENT_ID=

OPAY_WALLET_BASE_URL=
OPAY_WALLET_CLIENT_AUTH_KEY=
OPAY_WALLET_BRANCH_ID=
OPAY_WALLET_ROOT_MERCHANT_ID=
OPAY_WALLET_OPERATOR=
OPAY_WALLET_ACCOUNT_TYPE=
OPAY_WALLET_SEND_PASSWORD=
OPAY_WALLET_FEE_PERCENT=
OPAY_WALLET_LOG_REQUEST_PAYLOAD=false
OPAY_WALLET_OPAY_PUBLIC_KEY_PATH=
OPAY_WALLET_MERCHANT_PRIVATE_KEY_PATH=
OPAY_WALLET_VERIFY_RESPONSES=true

RINGO_BASE_URL=
RINGO_EMAIL=
RINGO_PASSWORD=
airtimeNigeria=
airtimeNigeriaAPIKey=
gtsquadcoAPIKey=
gtsquadcoBaseUrl=
dataBayBaseUrl=
dataBayAPIKey=
dataBayEmail=
dataBayPassword=
ogaDamBaseUrl=
ogaDamToken=
gongozconceptBaseUrl=
gongozconceptToken=
ayinlakconnectBaseUrl=
ayinlakconnectToken=
